{% extends "base.html" %}

{% block title %}Crossfaded — The connections of hip hop{% endblock %}

{% block content %}
    <h2>About</h2>
    <p class="lg-type">Crossfaded takes a database of hip hop lyrics, removes <a href="https://en.wikipedia.org/wiki/Stop_words">stop words</a>and breaks them into 5 word <a href="https://en.wikipedia.org/wiki/N-gram">ngrams</a>.  It then looks for ngrams that are shared between multiple songs.<br> </p>
    <p class="lg-type">Crossfaded is an ongoing project that uses a corpus of hip hop lyrics to find interesting links between hip hop artists. By finding unique phrases that are only shared by a few artist, we can establish connections between them. These shared phrases could come about as a result of paying homage, intertextual allusion, or simple plagiarism. Outside the realm of modern intellectual property, this is a common an well accepted practice in blues music, a genre where rap music has deep roots.<br></p>
    
    <p class="lg-type">Crossfaded off that Pandas and CSS, <br>
        Python for the data, serving: Nginx<br>
        Try to touch my Django flow I'll cut you low, DDoS you bro<br>
        I come Boostrapped on a Mac serving ya, from my racks. <br>
        Lyrics straight from the source, ohhla.com of course<br>
        Crossfaded's exploring mad connections: T1,<br> 
        <a href="https://github.com/nlipsyc/hiphop_web" class="underline">Fork me on Github</a>, start somethin'.<br>
        The illest data scientist ever to be, <a href="mailto:n.lipsyc@gmail.com" class="underline">go ahead man, ask about me</a><br>
        I'll be chillin' in the lab with my LCD and rhyme I.V. branching my commit tree<br>
        So step back 'fore I hit you in your head,<br>
        Cause right now you know I'm seeing<span style="color:rgba(246, 81, 29, 1);"> #FF0000</span>.<br>
    </p>

{% endblock %}
