{% extends "base.html" %}
{% load hhlookup_extras %}
{% block title %}Crossfaded — The connections of hip hop{% endblock %}

{% block content %}
        <h2>You're looking at matches for "<em>{{ artist }}"</em></h2> <a  href="{% url 'artist_page' rand %}" class="btn btn-default">Random song</a>
                {% if song_list %}
                            <div class="allSongs">
                            {% for songs in match_list %}
                                    {{ artist }} has matches for {{ ngram }}
                                    {% for s in songs %}
                                        <div class="songContainer col-md-6"> 
                                            <div class="youtube">
                                                    <iframe width="460" height="315" src="{{ s.youtube }}" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                            <h3>{{ s.song_name }} — {{ s.artist }}</h3>
                                                    <p> {{ s.lyrics|highlight:ngram }} </p>
                                        </div>
                                    {% endfor %} 
                            {% endfor %}
                            </div>
                {% else %}
                    <p>No songs for this phrase.</p>
                {% endif %}
{% endblock %}
