{% extends "base.html" %}

{% block title %}Crossfaded — The connections of hip hop{% endblock %}

{% block content %}

                <form method="GET">
                    {% csrf_token %}        
                    {{ form }}
                    <h3>Enter a word to find out how it links artists</h3>
                    <input type="text" name="match_search" placeholder="Try: Jedi Mind tricks">
                    <input type="submit" value="Bring the noise" class='btn btn-default'>
                    <h3>Or find something new</h3>
                    <a href="/crossfaded/" class="btn btn-default">Random</a>

                </form>
                {% if match_list %}
                    <ul class="match_list">
                        {% for m in match_list %}
                        <li><a href="{% url 'match_page' m.slug %}">{{ m.ngram }}</a></li>
                   {% endfor %}    
                    </ul>
                {% else %}
                        <p>No matches availalble.</p>
                {% endif %} 
{% endblock %}
