{% extends "base.html" %}

{% block title %}Crossfaded — The connections of hip hop{% endblock %}

{% block content %}

                <form method="GET">
                    {% csrf_token %}        
                    {{ form }}
                    <!-- If we have matches, this doesn't need to be so big -->
                    {% if current_search %}
                    <h4>Enter an artist to find their connections to other artists</h4>
                    {% else %}
                    <h3 class="important">Enter an artist to find their connections to other artists</h3>
                    {% endif %}
                    <div class="input-group col-lg-3 center">
                            <input class="form-control" type="text" name="match_search" placeholder="Try: Kanye West">
                            <!--Disabling word search.  Possible bring back as an easter egg -->
                            <!--<input type="submit" value="Word search" name= 'word_search' class='btn btn-default'>-->
                            <span class="input-group-btn">
                                    <input class="btn btn-secondary" type="submit" value="Bring the noise" name='artist_search' class='btn btn-default'>
                            </span> 
                    </div>
                    <!--Removing the random for now
                    <h3>Or find something new</h3>
                    <a href="/crossfaded/" class="btn btn-default">Random</a>
                    -->

                </form>
                </br>
                <div>
                <!-- Are we searching by keyword? -->
                {% if match_list and not artist_view %}
                    <ul class="match_list">
                        {% for m in match_list %}
                        <li><a href="{% url 'match_page' m.slug %}">{{ m.ngram }}</a></li>
                   {% endfor %}    
                    </ul>
                <!--Are we searching by artist name -->                    
                {% elif match_list and artist_view %}
                <h2 class="important">Pick one of the lyrics that connects {{current_search|title}} to another artist</h2> 
                    <ul class="match_list artist_matches">
                        {% for m in match_list %}
                        <li><a href="{% url 'match_page' m.slug %}">
                                        {{ m.ngram }}</br>
                                        <span class='artist_names'>(
                                        {% for a in m.found_in.all %}
                                        {{a.artist}} {% if not forloop.last %},{% endif %}                                        {% endfor %}
                                        )</span>
                        </a></li>

                   {% endfor %}    
                    </ul>
                    <!-- If the queryset exists but is empty (exculdes the case where they are just hitting the hompage for the first time) -->   
                {% elif has_searched %}
                        <p>No matches availalble.</p>
                {% endif %} 
                </div>
{% endblock %}
