{% extends "base.html" %}

{% block title %}Crossfaded — The connections of hip hop{% endblock %}

{% block content %}

                <form method="GET">
                    {% csrf_token %}        
                    {{ form }}
                    <h3>Enter a word or artist to start finding connections</h3>
                    <input type="text" name="match_search" placeholder="Try: Jedi Mind tricks">
                    </br></br>
                    <input type="submit" value="Word search" name= 'word_search' class='btn btn-default'>
                    <input type="submit" value="Artist search" name='artist_search' class='btn btn-default'>
                    <h3>Or find something new</h3>
                    <a href="/crossfaded/" class="btn btn-default">Random</a>

                </form>

                <!-- Are we searching by keyword? -->
                {% if match_list and not artist_view %}
                    <ul class="match_list">
                        {% for m in match_list %}
                        <li><a href="{% url 'match_page' m.slug %}">{{ m.ngram }}</a></li>
                   {% endfor %}    
                    </ul>
                <!--Are we searching by artist name -->                    
                {% elif match_list and artist_view %}
                    <ul class="match_list artist_matches">
                        {% for m in match_list %}
                        <li><a href="{% url 'match_page' m.slug %}">
                                        {{ m.ngram }}</br>
                                        <span class='artist_names'>(
                                        {% for a in m.found_in.all %}
                                        {{a.artist}} {% if not forloop.last %},{% endif %}                                        {% endfor %}
                                        )</span>
                        </a></li>

                   {% endfor %}    
                    </ul>
                {% else %}
                        <p>No matches availalble.</p>
                {% endif %} 
{% endblock %}
