{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{#% bootstrap_javascript %#}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href='{% static 'hhlookup/style.css' %}'>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
